<h1 md-dialog-title>Create Node</h1>
<div md-dialog-content>
  <md-input-container>
    <input #dataInput mdInput placeholder="Node data">
  </md-input-container>
</div>

<div md-dialog-actions>
  <button md-button (click)="insertTextNode(dataInput.value)">
    SAVE
  </button>
</div>
