<h1 md-dialog-title>Node</h1>
<div md-dialog-content>
  hash value: {{node.hashValue}} <br />
  data hash value: {{node.dataHashValue}} <br />
  data: {{node.data}} <br />
  text: {{textValue}}
</div>

<div md-dialog-actions>
  <button md-button md-dialog-close (click)="deleteNode()">
    <md-icon class="md-24">delete</md-icon>
  </button>
</div>
