<md-toolbar color="primary">
  <md-icon class="md-24" style="padding: 0 14px;">menu</md-icon>
  <span>Merkle Hash Tree</span>
</md-toolbar>
<app-tree></app-tree>

<app-tree-node-insert-button></app-tree-node-insert-button>
